* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.inputRight {
  float: right;
  margin: 0 10px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

thead tr {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
  padding: 15px;
}

.active {
  font-weight: 700;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.numberInput {
  max-width: 50px;
}

.navigatorButtons {
  background-color: #e4e4e4 !important;
  color: black !important;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button.disabled {
  background: grey;
  cursor: not-allowed;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
